<body class="home">
    <div class="title">about</div>
        <div class="content">
            Shareeeeeは、ルームシェアでの生活をさらに楽しくするアプリです。
        </div>
        <div class="content">
            ルームメイトとのお金の管理やちょっとしたメッセージを伝えたい際など、もっと便利にするために開発しています。
        </div>
        <div class="content">
            まずは、新規登録してルームの名前とパスワードを決めましょう！
        </div>
</body>