<body class="about-page">

        <div class="title">Shareeeee</div>
        <div class="subtitle">ルームシェアをより快適に管理できるように</div>
        <div class="wrapper">
            <div class="message-container">
                <%= image_tag("/images/message-board.png", :class => "message-images") %>
                <div class="message-content">
                    <div class="count">1.</div>
                    <div class="title-text">メッセージ投稿機能</div>
                    <div class="detail-text">相手に伝えたいことをいつでも。</div>
                    <div class="detail-text">口ではなかなか言いづらいことでも。</div>

                </div>
            </div>
            <div class="message-container">
                <%= image_tag("/images/graph.png", :class => "expense-images") %>
                <div class="message-content">
                    <div class="count">2.</div>
                    <div class="title-text">家計簿機能</div>
                    <div class="detail-text">毎月の支出を記録しよう。</div>
                    <div class="detail-text">食費、日用品、光熱費、水道代のカテゴリーごとに。</div>

                </div>
            </div>
        </div>
    </div>
</body>