<body class="home">
    <div class="home-title-text">ルームシェアをもっと楽しく</div>
    <div class="home-title">Shareeeee</div>
    <div class="home-button">
        <%= link_to("新規登録", "/users/new", class: "btn-users-new") %>
        <%= link_to("ログイン", "/login", class: "btn-login") %>
    </div>
</body>